{
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-console": "off",
    "quotes": [2, "single", { "avoidEscape": true }],
    "semi": [2, "always"],
    "vue/no-multiple-template-root": 0,
    "vue/multi-word-component-names": "off"
  }
}
